*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
/.idea/gradle.xml
/.idea/module.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/fabric.properties
app/fabric.properties
fabric.*
app/fabric.properties

# Google Analyics config contains confidential information
google-services.json
