<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gem.indo.dooit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="org.gem.indo.dooit.DooitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="org.gem.indo.dooit.views.RootActivity"
            android:theme="@style/AppTheme.FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.gem.indo.dooit.views.welcome.WelcomeActivity"
            android:theme="@style/AppTheme.FullscreenTheme" />

        <activity
            android:name="org.gem.indo.dooit.views.onboarding.RegistrationActivity"
            android:theme="@style/AppTheme.FullscreenTheme" />

        <activity
            android:name="org.gem.indo.dooit.views.onboarding.LoginActivity"
            android:theme="@style/AppTheme.FullscreenTheme" />

        <activity
            android:name="org.gem.indo.dooit.views.onboarding.ChangeNameActivity"
            android:theme="@style/AppTheme.FullscreenTheme" />

        <activity
            android:name="org.gem.indo.dooit.views.onboarding.ChangePasswordActivity"
            android:theme="@style/AppTheme.FullscreenTheme" />

        <activity
            android:name="org.gem.indo.dooit.views.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.gem.indo.dooit.views.profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.gem.indo.dooit.views.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="21c49b39f896991f9c499d71d1371cd26cd8e499" />

        <activity
            android:name="org.gem.indo.dooit.views.settings.SettingsWebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.gem.indo.dooit.views.onboarding.ProfileImageActivity"
            android:theme="@style/AppTheme.FullscreenTheme" />
        <activity android:name="org.gem.indo.dooit.views.tip.TipArticleActivity" />
        <activity android:name="org.gem.indo.dooit.views.onboarding.OnboardingWebActivity"></activity>

        <service
            android:name=".services.NotificationScheduler"
            android:enabled="true" />
    </application>

</manifest>